@import './../shared/variables.module.scss';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: $space-md 0;
  text-align: center;
  color: $color-text-grey;
  border-top: $border-grey;
}
