$size-sm: 0.5rem;
$size-md: 1rem;
$size-lg: 1.5rem;

$font-sm: 0.75rem;

$color-grey-10: #EBEBEB;
$color-grey-20: #484848A6;
$color-grey-30: #484848;

$border-medium: 1px solid rgb(228, 228, 228);
$border-light: 1px solid $color-grey-10;

$box-shadow: 0 2px 4px rgba(0,0,0,0.1);
$border-radius: 4px;
