@import './../shared/variables.module.scss';

$icon-size: 3rem;

.message {
  position: absolute;
  top: calc(50% - #{$icon-size});
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-grey-20;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: $size-md;
  border-bottom: $border-light;
}

.icon {
  max-width: $icon-size;
  margin-bottom: $size-md;
}

.right {
  text-align: right;
}

.caption {
  composes: right;
  margin-top: $size-sm;
  padding: 0;
  font-size: $font-sm;
  color: $color-grey-20;
}
