@import './../shared/variables.module.scss';

$swap-size: 1.75rem;

.container {
  padding: 0 $size-md;
}

.selectors {
  display: flex;
  justify-content: space-evenly;
  padding: $size-md 0;
  margin: $size-md 0;
  border: $border-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.swap {
  height: $swap-size;
  width: $swap-size;
}
